/*-------------------------------------------*\
    Horizontal Rule
\*-------------------------------------------*/

hr[gui="xp"] {
    border-top: 1px solid #aca899;
    border-bottom: 1px solid #ffffff;
    border-left: none;
    border-right: none;
}