/*-------------------------------------------*\
    Horizontal Rule
\*-------------------------------------------*/

hr[gui="98"] {
    border-top: 1px solid #7f7f7f;
    border-bottom: 1px solid #ffffff;
    border-left: none;
    border-right: none;
}